@font-face {
    font-family: 'Mona Sans ExtraBold';
    src: url('./Mona-Sans-ExtraBoldWide.woff') format('woff'),
         url('./Mona-Sans-ExtraBoldkWide.woff2') format('woff2');
    font-weight: black;
    font-style: black;
}
@font-face {
    font-family: 'Mona Sans Bold';
    src: url('./Mona-Sans-BoldWide.woff') format('woff'),
         url('./Mona-Sans-BoldWide.woff2') format('woff2');
    font-weight: bold;
    font-style: bold;
}
@font-face {
    font-family: 'Mona Sans SemiBold';
    src: url('./Mona-Sans-SemiBoldWide.woff') format('woff'),
         url('./Mona-Sans-SemiBoldWide.woff2') format('woff2');
    font-weight: semibold;
    font-style: semibold;
}